<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winddays</title>
    <link rel="icon" type="image/x-icon" href="/weatherapi/pngwing.com.png">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://kit.fontawesome.com/da42334868.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" ></script>
</head>
<body>
    <nav> <h1 class="title">WINDDAYS</h1></nav>
   
    
</body>
</html>